body {
  margin: 0;
  border: 2px solid black;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Sora", sans-serif;
  font-weight: 600;
  font-size: 1.2rem;

}